html {
  background: url("/assets/site/mapblue.jpg") no-repeat center center fixed;
  padding: 0px;
}

body {
  padding: 0px;
}

.container {
  display: inline-block;
  width: 1000px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.profiles {
  display: inline-block;
  max-width: 100px;
  padding: 0.63em;
  align-content: flex-start;

}

.profileName {
  display: inline-block;
  margin: 5px;
  text-align: center;
  height: 3em;
}

.container_class {
  display: inline-block;
  text-align: center;
}

.rightSidePanel {
  position: fixed;
  right: 0;
  top: 0;
  display: inline-block;
  background-color: rgb(45, 56, 63);
  border-style: solid;
  border-color: rgb(68, 68, 71);
  height: 100vh;
  vertical-align: top;
  width: 310px;
}

.divOfPictureClass {
  max-width: 310px;
  height: 200px;
}

.picture {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.divOfNameClass {
  display: inline-block;
}


.pTagOfName {
  display: inline-block;
  margin: 8px 20px;
  font-size: 1.5em;
  color: rgb(211, 225, 226);
}

.divOfSymbolClass {
  float: right;
  font-size: 1.5em;
  padding: 10px;
  padding-right: 15px;
}

.divOfBioClass {
  display: block;
  padding: 5px;
}

.pTagOfBio {
  color: rgb(211, 225, 226);
  font-size: 1em;
  text-align: justify;
}


.divOfCharacterClass {
  font-size: 1.2em;
  padding: 4px;
  text-align: justify;
}

.divOfSearchClass {
  position: absolute;
  border: solid 1px rgb(63, 63, 68);
  bottom: 30px;
  float: right;
  height: 1.5em;
  padding: 10px;

}

.searchFieldClass {
  background: rgb(211, 225, 226);
  border-color: darkslategrey;
  border-radius: 5px;
  color: rgb(46, 44, 41);
  font-size: 1.2em;
  width: 200px;
  margin-bottom: 15px;
}

.searchButton {
  background: rgb(209, 214, 212);
  border-radius: 5px;
  font-size: 1.5em;
  margin-bottom: 15px;
  padding: 10px;
}